* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  color: #222;

}

.container {
  display: flex;
  text-align: center;
  flex-basis: 100%;
}

h1 {
  font-size: 100px;
  position: relative;
  text-transform: uppercase;
  
}

.clock {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #000;
    font-family: Arial;
    letter-spacing: 7px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    animation:blinkingText 2s infinite;
}

p {
  text-align: center;
}

@keyframes blinkingText{
  0%{   
    color: #000;  
  }
  25%{  
    color: #5AFF73;
    margin-left: 2px;  
  }
  50%{  
    color: #000;
    margin-right: 2px;  
  }
  75%{  
    color: #FE5443; 
    margin-bottom: 2px;  
  }
  100%{ 
    color: #000; 
    margin-top: 2px;  
  }
}


/*Responsive*/

/*Mobiel*/
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    display: flex;
  }

  h1 {
    font-size: 50px;
  }

  .clock {
    width: 490px;
  }

  .logo {
  width: 95%;
  height: 95%;
  margin: 0 auto;
  }
}

/*Einde mobiel*/

/*Tablet*/
@media only screen and (min-width: 601px) and (max-width: 904px) {
  .container {
    width: 100%;
    display: flex;
  }

    h1 {
    font-size: 75px;
  }

  .clock {
    width: 620px;
  }

  .logo {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  }
}

/*Einde tablet*/

/*Klein desktop*/
@media only screen and (min-width: 905px) and (max-width: 1174px){
  .container {
    width: 100%;
    display: flex;
  }

  .clock {
    width: 850px;
  }

  .logo {
  width: 70%;
  height: 70%;
  margin: 0 auto;
  }
}

/*Einde klein desktop*/

/*Full desktop*/
@media only screen and (min-width: 1175px) {
  .container {
    width: 10
    0%;
    display: flex;
  }

  .clock {
    width: 1150px;
  }

  .logo {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}
}
/*Eind full desktop*/